*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.nav{
  height: 150px;
  background: #ccc;
}
.left-side, .right-side{
  list-style: none;
  margin-top: 40px;
}
ul li {
  margin: 20px;
}
.btn-menu{
  position: relative;
  cursor: pointer;
}
.menu{
  display: none;
  position: absolute;
  border: 1px solid #000;
  background: #fff;
  transform: translateX(-50%);
  left: 50%;
  top: 60px;
}
.menu.active{
  display: block;
}
